<!-- A simple card only for presentate the information -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Department: {{dataInfo.department}}</mat-card-title>
        <mat-card-subtitle>Municipality: {{dataInfo.municipality}}</mat-card-subtitle>
    </mat-card-header>
    Postal Code: {{dataInfo.postalcode}}
    <mat-card-content>
        <p>
            Neighbourhood: {{dataInfo.neighbourhood}}
        </p>
    </mat-card-content>

</mat-card>