<app-header></app-header>

<div class="welcome">
  <h2 class="center text-center">Welcome to this testing app!</h2>
  <h4 class="center text-center">Write your postal code and we will give you information about it</h4>
</div>
<app-search>
<!-- <router-outlet></router-outlet> -->