<form [formGroup]='codesForm' *ngIf="{
    results: filteredCodes | async,
    loading: loading$ | async
  } as obs" class="container xy-center w-50">
    <mat-form-field class="w-100 mb-3">
        <input matInput placeholder="Write a postal number" [matAutocomplete]="auto" formControlName='codesInput'>
    </mat-form-field>

    <!-- component for see information of postal code -->
    <app-information class="" *ngIf="codesForm.get('codesInput').value?.id" [dataInfo]="codesForm.get('codesInput').value"></app-information>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      
        <!-- No postal code was found :-/ -->
        <mat-option disabled *ngIf="obs.results?.length === 0 && !obs.loading">
            No postal code was found
        </mat-option>

        <!-- This is the autocompleted information -->
        <ng-container *ngIf="!obs.loading">
            <mat-option *ngFor="let postalcode of obs.results " [value]="postalcode">
                <span>{{ postalcode.postalcode }}</span>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</form>