/* You can add global styles to this file, and also import other style files */

$background-color : rgb(250,250,250);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $background-color}

.center{
    margin:0 auto !important;
}

.text-center{
    text-align: center;
}

.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}

.xy-center {
    margin: 0;
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }